atari_py == 0.1.7
cpplint
clang-format == 9.0
fasteners
gym == 0.15.4
pyglet == 1.3.2
matplotlib
numpy
networkx
opencv-python >= 3.4.1.15
pathos == 0.2.4
pillow==7.2.0
psutil
pybullet == 2.5.0
sphinx==2.4.4
sphinxcontrib-napoleon==0.7
sphinx-rtd-theme==0.4.3
tensorboard == 2.1.0
cnest==1.0.8
gym3==0.3.3
procgen==0.10.4
