absl-py
atari_py == 0.1.7
bsuite
carla
metadrive-simulator==0.2.5.1
fasteners
furo
git+https://github.com/HorizonRobotics/gin-config@master#egg=gin-config
gym==0.15.4
matplotlib
opencv-python>=3.4.1.15
pathos==0.2.4
psutil
sphinx==4.0
docutils==0.16
sphinx-autobuild
git+https://github.com/hnyu/sphinx-autodoc-typehints@master#egg=sphinx_autodoc_typehints
sphinxcontrib-napoleon==0.7
--find-links https://download.pytorch.org/whl/torch_stable.html
tensorboard==2.1.0
torch==1.8.1+cpu
torchvision==0.9.1+cpu
cnest==1.1.1
gym3==0.3.3
procgen==0.10.4
protobuf==3.20.*
