absl-py
atari_py == 0.1.7
bsuite
carla
fasteners
git+git://github.com/HorizonRobotics/gin-config@master#egg=gin-config
gym==0.15.4
matplotlib
opencv-python>=3.4.1.15
pathos==0.2.4
psutil
sphinx==3.0
sphinx-autobuild
git+git://github.com/hnyu/sphinx-autodoc-typehints@master#egg=sphinx_autodoc_typehints
sphinxcontrib-napoleon==0.7
--find-links https://download.pytorch.org/whl/torch_stable.html
tensorboard==2.1.0
torch==1.4.0+cpu
torchvision==0.5.0+cpu
cnest==1.0.4
gym3==0.3.3
procgen==0.10.4
