absl-py
atari_py == 0.1.7
carla
fasteners
git+git://github.com/HorizonRobotics/gin-config@master#egg=gin-config
gym==0.12.5
matplotlib
opencv-python>=3.4.1.15
pathos==0.2.4
psutil
sphinx==2.4.4
sphinxcontrib-napoleon==0.7
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.8.1+cpu
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.9.1+cpu
--find-links https://download.pytorch.org/whl/torch_stable.html
torchtext==0.9.1+cpu
--find-links https://download.pytorch.org/whl/torch_stable.html
tensorboard==2.1.0
